/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
  color:black;
}

header {
  background-color: aliceblue;
  padding: 10px 0;
}

.scdnav ul {
  background-color: aliceblue;
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-top: -38px;
}

.scdnav ul li {
  display: inline;
  margin: 0 0px;
}

.scdnav ul li a {
  margin-right: 5%;
  font-size: 20px;
  color: rgb(0, 47, 255);
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  background-color: aliceblue;
  list-style-type: none;
  padding: 0;
  text-align: left;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  font-size: 20px;
  text-align: left;
  margin-left: 8%;
  font-family: Arial, sans-serif;
  color: rgb(0, 47, 255);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 300%;
  margin-top: 10%;
}

h2 {
  text-align: center;
  font-size: 250%;
  color: rgb(92, 33, 33);
  margin-bottom: 10%;
}

.vitrine img{
  width: 30% ;
  margin-left: 7%;
  margin-top: -350px;
}

.accueilphoto img {
  width: 35%;
  margin-left: 65%;
  margin-top: -700px;
}

.infoacc {
  font-size: 150%;
  text-align: center;
  margin-bottom: 3px;
}
