/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
  color:black;
}

header {
  background-color: aliceblue;
  padding: 10px 0;
}

.scdnav ul {
  background-color: aliceblue;
  list-style-type: none;
  padding: 0;
  text-align: right;
  margin-top: -50%;
}

.scdnav ul li {
  display: inline;
  margin: 0 5px;
}

.scdnav ul li a {
  color: rgb(0, 47, 255);
  text-decoration: none;
  font-weight: bold;
}

nav ul {
  background-color: aliceblue;
  list-style-type: none;
  padding: 0;
  text-align: left;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-align: left;
  margin-left: 8%;
  font-family: Arial, sans-serif;
  color: rgb(0, 47, 255);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 200%;
}

h2 {
  text-align: center;
  font-size: 150%;
  color: rgb(92, 33, 33);
}

.vitrine img{
  width: 30% ;
  margin-left: 7%;
  margin-top: -250px;
}

.accueilphoto img {
  width: 30%;
  align-self: right;
  margin-right: 7%;
  margin-top: -550px;
}

.infoacc {
  font-size: 25px;
  text-align: center;
  margin-bottom: -5px;
}
